.card {
  overflow: hidden;
}

.card > div {
  margin: 0 !important;
}

.card .card-body {
  width: 100% !important;
  margin-left: 0 !important;
  background-repeat: no-repeat !important;
}
.NavBar__div .container {
  padding: 0 !important;
}

.edit-profile form {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 5px;
}

.edit-profile h2 {
  text-align: center;
  margin-top: 50px;
}
