.rating {
  /* margin-top: 100px; */
  margin-left: 100px;
}
.facility {
  overflow: hidden;
  margin-bottom: 100px;
}
.StripeCheckout span {
  color: #171717  !important;
}
.StripeCheckout {
  margin-left: 120px !important;
  
}
