/**/
/* #about-us {
  display: block;
  width: 100%;
  line-height: 1.6em;
} */
/* #about-us h2 {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
} /*DEMO USE ONLY - CAN BE DELETED */

/* #about-us #about-intro {
    margin-bottom: 50px;
    margin-left: 10px;
    text-align: center;
  }
  #about-intro img {
    background-size: cover;
    width: 1000px;
    height: 10%;
    overflow: hidden;
    background-position: center-top;
    background-position-y: 45%;
  
    padding: 80px;
    text-align: center;
  }
  #about-intro .clear {
    width: 25%;
  } */
/* #about-us #about-intro p {
  margin: 20px 0 20px 0;
  padding: 0;
  font-size: 20px;
  color: #666666;
} */
/* #about-us #about-intro p:first-child {
  margin-top: 0;
} */

/* #about-us #team {
  margin-bottom: 0;
}
#about-us #team ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#about-us #team ul li {
  margin-bottom: 30px;
}
#about-us #team ul li figure {
  position: relative;
  text-align: center;
}
#about-us #team ul li figure img {
  padding: 9px;
  width: 200;
  height: 280px;
  border: 1px solid #cccccc;
}

#about-us #team ul li figure figcaption {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 280px;
  height: 200px;
  overflow: hidden;
  color: #ffffff;
  background-color: #000000;
  background: hsla(0, 0%, 0%, 0.8);
}
#about-us #team ul li:hover figure figcaption {
  display: block;
}
#about-us #team ul li figure figcaption p {
  margin: 15px 15px 0 15px;
  padding: 0;
}
#about-us #team ul li figure figcaption p:first-child {
  margin-top: 35px;
  font-size: 25px;
}
#about-us #team ul li figure figcaption .team_name {
  font-weight: bold;
}
#about-us #team ul li figure figcaption .team_title {
  margin-top: 15px;
  font-size: 20px;
  line-height: normal;
}
#about-us #team ul li figure figcaption .team_description {
  text-align: left;
} 

.one_half,
.one_third,
.two_third,
.one_quarter,
.two_quarter,
.three_quarter,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth {
  display: inline-block;
  float: left;
  margin: 0 0 0 20px;
  list-style: none;
}

.one_third,
.two_third {
  margin: 0 0 0 30px;
}

.first,
.one_half:first-child,
.one_third:first-child,
.two_third:first-child,
.one_quarter:first-child,
.two_quarter:first-child,
.three_quarter:first-child,
.one_fifth:first-child,
.two_fifth:first-child,
.three_fifth:first-child,
.four_fifth:first-child {
  margin-left: 0;
}

.two_half,
.three_third,
.four_quarter,
.five_fifth {
  display: block;
  width: 100%;
  clear: both;
} */

/*----------------------------------------------Half Grid-------------------------------------*/
/****************************************************************************************************************************************************************************/

.circle.circle1 {
  width: 450px;
  height: 450px;
  float: left;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}

#visionMission {
  position: relative;
  width: 100%;
  padding: 50px;
  background: #f2f2f2;
}
#visionMission .vision h2 {
  padding-top: 40px;
  color: #000;
  text-align: center;
  padding-bottom: 25px;
  font-size: 40px;
  text-transform: uppercase;
}
#visionMission .vision p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

#visionMission .mission h2 {
  padding-top: 40px;
  color: #000;
  padding-bottom: 25px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
#visionMission .mission p {
  color: #000;
  text-align: center;
  font-size: 20px;
}

.footer {
  width: 100%;
}

/* #prag {
  margin-right: 100px;
} */

.column {
  float: left;
  width: 33.3%;
  height: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
/* @media screen and (max-width: 650px) {
  .column {
    width: 50%;
    displa y: block;
  }
} */

/* Add some shadows to create a card effect */
.card {
  /* max-width: 2000px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
